.DS_Store
Thumbs.db
*.log
*.tmp
.idea/
.vscode/
*.swp
*~

node_modules/
.env
.env.local

app/uploads/*
!app/uploads/.gitkeep
!app/uploads/dha.jpg
!app/uploads/bahria.jpg
!app/uploads/villa.png
!app/uploads/modern.jpg
!app/uploads/apartment1.jpg
!app/uploads/apartment2.jpg
!app/uploads/apartment3.jpg
